/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(161, 113, 165);
}
.principal{
   display: flex;
     
}
.body{
    background-image: url("pexels-photo-1169754.jpeg");
    
    height: 500px;
    width: 100%;

}
.img1{
height: 300px;
width: 300px;
background-image: url("images.png");
background-repeat: no-repeat;
float: right;

}

.titulo{

font-size: 100px;
color: rgb(216, 108, 214);
text-align: center;
}

.img1{          

height: 300px ;
width: 300px;
background-image:url("circuito_simple\ \(1\).png");
}
.textot{



    font-size: 70px;
    padding-top: 70px;
    text-align:justify ;
    color: rgb(191, 190, 231);

}

.imagen2{

    height: 300px ;
    width: 300px;
    background-image:url("descarga.png");




}

.textoa{

    font-size: 40px;
    padding-top: 40px;
    text-align:justify ;
    color: rgb(226, 127, 127);





}

.imagen1{
height: 300px;
width: 300px;
background-image: url(imagen1.jpg);
background-repeat: no-repeat;
float: left;

}

.coma{
height: 150px;
width: 150px;
background-image: url(coma.png);
background-repeat: no-repeat;

}

.pesas{
height: 234px;
width: 234px;
background-image: url(pesas.jpg);
background-repeat: no-repeat;



}

.comida{
height: 234px;
width: 234px;
background-image: url(comida.jpg);
background-repeat: no-repeat;
}

.agua{
height: 234;
width: 234;
background-image: url(agua.jpg);
background-repeat: no-repeat;
}

.estres{
height: 180;
width: 234px;
background-image: url(estres.jpg);
background-repeat: no-repeat;
}

.mental{
height: 234;
width: 560;
background-image: url(mental.png);
background-repeat: no-repeat;


}

.dulce{
    height: 234;
    width: 500;
    background-image: url(dulce.jpg);
    background-repeat: no-repeat;
    }


    .fumar{
        height: 234;
        width: 500;
        background-image: url(fumar.jpg);
        background-repeat: no-repeat;
        }

        .chatarra{
            height: 220;
            width: 234;
            background-image: url(chatarra.jpg);
            background-repeat: no-repeat;
            }

            .alcohol{
                height: 400;
                width: 500;
                background-image: url(alcohol.jpg);
                background-repeat: no-repeat;
                }

                .accion{
                    height: 220;
                    width: 600;
                    background-image: url(accion.avif);
                    background-repeat: no-repeat;
                    }

               
                    .mental{
                        height: 234;
                        width: 560;
                        background-image: url(mental.png);
                        background-repeat: no-repeat;
                       }

                       .trastorno{
                        height: 234;
                        width: 560;
                        background-image: url(trastorno.jpg);
                        background-repeat: no-repeat;
                       }  


                       .anorexia{
                        height: 234;
                        width: 560;
                        background-image: url(anorexia.webp);
                        background-repeat: no-repeat;
                       }

                       .bulimia{
                        height: 300;
                        width: 560;
                        background-image: url(bulimia.webp);
                        background-repeat: no-repeat;
                       }