/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(47, 188, 240);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("image.png");
    background-repeat: no-repeat;

}
.img1{
height: 300px;
width: 300px;
background-image: url("images.png");
background-repeat: no-repeat;
float: right;

}

.titulo{

font-size: 100px;
color: rgb(216, 108, 214);
text-align: center;
}